<div class="add-transaction">
  <div class="title">Add a Transaction</div>
  <label>Amount</label>
  {{input type="number" class="input-amount" value=amount}}

  <label>Description</label>
  {{input class="input-description" value=description}}

  <label>Date</label>
  {{pikaday-input
    format='MMM DD, YYYY'
    value=date
    onSelection=(action "selectDate")
    class="datepicker"}}

  <label>Category</label>
  <select onchange={{action "selectCategory" value="target.value"}}>
    <option value="">Select category</option>
    {{#each categories as |category|}}
      <option value={{category.name}}>{{category.name}}</option>
    {{/each}}
  </select>

  <label>Account</label>
  <select onchange={{action "selectAccount" value="target.value"}}>
    <option value="">Select account</option>
    {{#each accounts as |account|}}
      <option value={{account.name}}>{{account.name}}</option>
    {{/each}}
  </select>

  <label>NOTE TO SELF</label>
  {{textarea rows="2" maxlength=maxMemoChars value=memo key-up=(action "changeMemo")}}

  <div class="buttons">
    {{bulma-button class="add-button" disabled=disableAddButton isSmall=true isInfo=true label="Add" onmousedown=(action "add")}}
    {{bulma-button label="Cancel" isSmall=true onmousedown=(action "cancel")}}
  </div>
  <div>{{remainingChars}} characters left.</div>
</div>
