<div class="details" {{action "closeOptions"}}>
  <img src={{row.logoUrl}} alt="">
  <div class="detail-wrapper">
    {{#if editRow}}
      <span class="title-text">Description</span>
      {{input type="text" value=description key-up=(action "changeInput")}}

      <span class="title-text">Transaction Date</span>
      {{pikaday-input
        format=dateFormat
        value=date
        onSelection=(action "selectDate")
        theme="dark-theme"
        class="datepicker"}}

      <span class="title-text">Note to self</span>
      {{textarea rows="2" value=row.memo}}

      <div class="buttons">
        {{bulma-button
          label="Save Changes"
          isSmall=true
          isInfo=true
          onmousedown=(action "update" row)}}
        {{bulma-button
          label="Cancel"
          isSmall=true
          onmousedown=(action "cancelEdit")}}
      </div>
    {{else}}
      <span class="title-text">Description</span>
      <span class="detail-text">{{row.description}}</span>

      <span class="title-text">Transaction Date</span>
      <span class="detail-text">{{format-date row.date}}</span>

      <span class="title-text">Note to self</span>
      <span class="detail-text">{{row.memo}}</span>
    {{/if}}
  </div>
  <div class="manage-transactions">
    <div class="options-link-wrapper">
      <div class="options-link" onclick={{action "toggleOptions"}}>Manage Transaction</div>
      <div class={{arrowClass}}></div>
    </div>
    {{#if showOptions}}
      <div class="options arrow-box">
        <ul onclick={{action "selectOption" row}}>
          <li data-action-value="edit">Edit Details</li>
          <li data-action-value="split">Split Transaction</li>
          <li data-action-value="exclude">Exclude Transaction</li>
        </ul>
      </div>
    {{/if}}
  </div>
  <a href="#" class="close-button" {{action "close"}}>X</a>
</div>
