<tr class="transaction-table-row">
  <td>{{format-date row.date}}</td>
  <td>{{row.description}}</td>
  <td>{{row.category}}</td>
  <td>{{row.account}}</td>
  <td>{{format-currency row.amount}}</td>
</tr>