<div class="transactions-filter">
  <div class="action-tags">
    <div class="date-range">
      {{transactions/date-range-selector onSelect=(action "filterByDateRange")}}
    </div>
    <div>
      <a href="#" {{action "showManualTransaction"}}>+Add</a> |
      <a href="#" {{action "showSearchOption"}}>Search</a> |
      <a href="#">Download</a>
    </div>
  </div>

  {{#if showSearchOption}}
    <div class="search-area">
      <label>Search</label>
      {{input id="search-input" value=value key-up="filter" placeholder="Type to search"}}
    </div>
  {{/if}}

  {{#if showManualTransaction}}
    {{#bulma-modal show=true onclose=(action "closeManualTransaction")}}
      <div class="box">
        {{transactions/add-transaction
          accounts=accounts
          categories=categories
          cancel=(action "closeManualTransaction")
          add=(action "addTransaction")}}
      </div>
    {{/bulma-modal}}
  {{/if}}
</div>

{{yield (hash rows=results loading=loading)}}
