<table>
  <thead>
    <tr class="header-row">
      {{#each headers as |header|}}
        {{transactions/transaction-table-header header=header}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rows as |row|}}
      {{transactions/transaction-table-row row=row}}
    {{/each}}
    {{#if showTotal}}
      <tr class="total-amount-row">
        <td colspan={{countHeaders}}>
          <div class="label">{{showTotalLabel}}</div>
          <div class="value">{{format-currency totalAmount}}</div>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
