<div class="details" {{action "closeOptions"}}>
  <img src={{row.logoUrl}} alt="">
  <div class="detail-wrapper">
    {{#if editRow}}
      <span class="title-text">Description</span>
      {{input type="text" value=row.description}}

      <span class="title-text">Transaction Date</span>
      {{input type="text" value=formatDate}}

      <span class="title-text">Note to self</span>
      {{textarea rows="2" value=row.memo}}

      <div class="buttons">
        <button {{action "updateDetails" row}}>Save Changes</button>
        <button {{action "cancelEdit"}}>Cancel</button>
      </div>
    {{else}}
      <span class="title-text">Description</span>
      <span class="detail-text">{{row.description}}</span>

      <span class="title-text">Transaction Date</span>
      <span class="detail-text">{{format-date row.date}}</span>

      <span class="title-text">Note to self</span>
      <span class="detail-text">{{row.memo}}</span>
    {{/if}}
  </div>
  <div class="manage-transactions">
    <div class="options-link" onclick={{action "toggleOptions"}}>
      Manage Transactions
      <div class={{arrowClass}}></div>
    </div>
    {{#if showOptions}}
      <div class="options arrow_box">
        <ul onclick={{action "selectOption" row}}>
          <li data-action-value="edit">Edit Details</li>
          <li data-action-value="split">Split Transaction</li>
          <li data-action-value="exclude">Exclude Transaction</li>
        </ul>
      </div>
    {{/if}}
  </div>
  <a href="#" class="close-button" {{action "close"}}>X</a>
</div>
